<header>
	<nav class="top-nav grey darken-4">
		<div class="container">
			<div class="nav-wrapper">
				<center style="margin-left: 300px;"><a class="page-title tae">D R I V E</a></center>
			</div>
		</div>
	</nav>
	<ul class="side-nav fixed" id="slide-out">
		<li>
			<div class="box">
				<div class="container-4">
					<input id="search" placeholder="Search..." type="search"> <button class="icon"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</li>
		<li>
			<a href="#!">Incidents</a>
			<ul>
				<a href="#!"><li style="margin-left: 100px;">Today</li></a>
				<a href="#!"><li style="margin-left: 100px;">Weekly</li></a>
				<a href="#!"><li style="margin-left: 100px;">Monthly</li></a>
			</ul>
		</li>
		<li>
			<a href="#!">Go Live</a>
		</li>
	</ul><a class="button-collapse" data-activates="slide-out" href="#"><i class="material-icons">menu</i></a>
</header>
<div id="map"></div>